<html>

Under Maintenance

<!--

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://www.youtube.com" />
    <title>緑のうたの検索 with LOD</title>
    <link rel="stylesheet" type="text/css" media="screen" href="../asset/Kallem.css" />
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-6KDGBDHBS1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-6KDGBDHBS1');
    </script>
</head>

<body>
    <!-- Load Essential Script -->
    <script src="https://cdn.jsdelivr.net/npm/vue@3.2.33/dist/vue.global.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css">
    <header class="text-black" style="background-color: #5dccab;">
        <div class="container">
            <div class="row g-2 mb-2 pt-2">
                <h1 tabindex="0" class="pt-1 fs-2 col-9 col-md-10 col-lg-10" onclick="location.href='/ryushen/'">緑のうたの検索
                    with LOD</h1>
                <div class="col-3 col-md-2 col-lg-2 d-grid my-2">
                    <!--
                    <button type="button" class="btn btn-light py-1" data-bs-toggle="modal"
                        data-bs-target="#aboutModal">
                        About
                    </button>
                    -->
                </div>
            </div>
        </div>
    </header>
    <article class="container bg-light">
        <div class="col-12"><a href="https://midori.lv01.biz">緑のうたのLOD</a>の検索デモです</div>
        <h2 class="visually-hidden">検索フォーム</h2>
        <form id="inputForm" name="searchConditions" class="row g-2 mb-4">
            <div class="col-12 col-lg-9">
                <div class="form-floating input-group">
                    <input type="text" class="form-control col-8 col-sm-9 col-md-10 col-lg-9" id="keyword"
                        v-bind:value="keyword"></input>
                    <label for="keyword" class="form-label">キーワード</label>
                    <select id="sortSelect" class="sort" aria-label="">
                        <option value="0" selected="">新しい順</option>
                        <option value="1">古い順</option>
                        <option value="2">本家がメジャー順</option>
                    </select>
                </div>
            </div>
            <div class="col-12 col-lg-3 py-md-0 col-lg-2 d-grid mb-2 mb-md-0">
                <button type="button" class="btn btn-primary py-2" onclick="searchWithKeyword()">
                    <i class="bi bi-search"></i>検索
                </button>
            </div>
        </form>

        <!-- Loading -->
        <div id="loading" class="invisible col-12 d-flex justify-content-center my-10">
            <div class="spinner-grow text-secondary" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>

        <!-- Results -->
        <h2 class="visually-hidden">検索結果</h2>
        <section id="resList" class="row g-2">
            <div class="col-12">
                <div v-for="item in items" class="mb-4 row">
                    <div class="col-12 col-sm-6 col-md-4" style="position: relative; min-height: 3em;">
                        <iframe v-bind:src="item.iframe" frameborder="0" class="w-100 visually-hidden"
                            loading="lazy" allowfullscreen></iframe>
                        <button class="thBtn w-100 ratio ratio-21x9"
                            onclick="this.classList.add('visually-hidden'); this.previousElementSibling.classList.remove('visually-hidden');">
                            <img v-if="item.thumbnail" v-bind:src="item.thumbnail" class="w-100"
                                style="object-fit:cover" alt="" />
                        </button>
                    </div>
                    <div class="col-12 col-sm-6 col-md-8 align-top">
                        <div class="row">
                            <h3 class="fs-5 col-12 h5">
                                <a v-bind:href="item.videoUrl" class="text-decoration-none">{{item.videoTitle}}</a>
                            </h3>
                            <div class="col-12 col-md-6 col-lg-8">
                                <ul class="list-unstyled" style="margin-bottom:0">
                                    <li v-if="item.cVideo" style="display: inline-block;">
                                        <button class="btn btn-light p-1 mr-2 mb-1" v-on:click="search(artist)">
                                            <a v-bind:href="item.cVideo">
                                                <i class="bi bi-youtube"></i>
                                                本家動画
                                            </a>
                                        </button>
                                    </li>
                                    <li v-if="item.cAudio" style="display: inline-block;">
                                        <button class="btn btn-light p-1 mr-2 mb-1" v-on:click="search(artist)">
                                            <a v-bind:href="item.cAudio">
                                                <i class="bi bi-spotify"></i>
                                                本家Spotify
                                            </a>
                                        </button>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-12 col-md-6 col-lg-4">
                                <ul class="list-unstyled" style="margin-bottom:0">
                                    <li><i class="bi bi-calendar text-secondary"></i>
                                        <span v-if="item.date" class="p-1 mr-2 mb-1">
                                            {{item.date.substr(0,10)}}
                                        </span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>
    </article>
    <script>
        // 検索結果（Vue）
        const resListApp = Vue.createApp({
            data() {
                return {
                    items: null,
                    totalResults: null,
                    pages: null,
                    pageMax: null,
                    p: null,
                }
            }
        })
        const resList = resListApp.mount('#resList')



        //メイン検索機能定義
        async function searchWithKeyword(keyword = null, p = 1) {
            //初期化
            document.querySelector("#loading").classList.remove("visually-hidden")
            if (!keyword) {
                keyword = document.querySelector("#keyword").value;
            }
            if (!keyword) {
                document.querySelector("#keyword").value = "緑仙";
                keyword = "緑仙";
            }
            let query = `PREFIX midori: <https://midori.lv01.biz/>
PREFIX schema: <http://schema.org/>

SELECT DISTINCT ?cover ?work ?canon ?video ?videoTitle ?cVideo ?cAudio ?date ?spotifyPopularity WHERE {

?cover schema:additionalType midori:CoverExpression;
schema:recordingOf ?work ;
midori:canonicalExpression ?canon.
?cover schema:video ?video.
?video rdfs:label ?videoTitle.
?video schema:datePublished ?date.

OPTIONAL {?canon schema:video ?cVideo}
OPTIONAL {?canon schema:audio ?cAudio}
OPTIONAL{ ?canon midori:popularity ?spotifyPopularity. }

{{?cover schema:byArtist ?who.} UNION {?canon schema:byArtist ?who.} UNION {?work schema:composer ?who.} UNION {?work schema:lyricist ?who.}
?who schema:name ?name.
FILTER(bif:contains(?name, '"${keyword}"'))
}UNION{
?cover rdfs:label ?keyword.
FILTER(bif:contains(?keyword, '"${keyword}"'))
}UNION{
?cover schema:video ?video.
?video rdfs:label ?keyword.
FILTER(bif:contains(?keyword, '"${keyword}"'))
}

}`
            sortListValue = document.querySelector("#sortSelect").value
            if(sortListValue == 1){
                query = query + "ORDER BY ASC(?date) LIMIT 100"
            } else if (sortListValue == 2){
                query = query + "ORDER BY DESC(?spotifyPopularity) LIMIT 100"
            } else{
                query = query + "ORDER BY DESC(?date) LIMIT 100"
            }
            let reqUrl = "https://midori.lv01.biz/sparql?default-graph-uri=&query=" + encodeURI(query) + "&format=application%2Fsparql-results%2Bjson"
            fetch(reqUrl)
                .then(response => response.json())
                .then(data => {
                    if (data.results.bindings[0]) {
                        _list = data.results.bindings
                    } else {
                        _list = null
                    }
                    let list = []
                    for (let item of _list) {
                        let itemDict = {}
                        itemDict.cover = item.cover.value
                        itemDict.date = item.date.value
                        itemDict.iframe = "https://www.youtube.com/embed/" + (item.video.value).substring((item.video.value).length - 11)
                        itemDict.videoTitle = item.videoTitle.value
                        itemDict.videoUrl = item.video.value
                        itemDict.thumbnail = "https://i.ytimg.com/vi/" + (item.video.value).substring((item.video.value).length - 11) + "/hqdefault.jpg"
                        if (item.cAudio) {
                            itemDict.cAudio = item.cAudio.value
                        }
                        if (item.cVideo) {
                            itemDict.cVideo = item.cVideo.value
                        }
                        list.push(itemDict)
                    }
                    resList.totalResults = list.length;
                    resList.items = list;


                })

        }
    </script>

</body>

-->

</html>